<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>
<body>


        <div class="jumbotron text-center row">
            <div>
                <h3>Get a random author recommendation! </h3>
            </div>

            <div class="col-md-6">
                <h3>Here are {{authorrecs.series}} author recs!</h3>
                <!-- Number, List table -->
                <table class="mx-auto">
                    <tr>
                        <th scope="col">{{authorrecs.series}} authors: </th>
                        <th scope="col">{{authorrecs.list}}</th>
                    </tr>
                </table>

                <div id='class' style='display:none'>{{bookrecs.lists}}</div>

                <script>
                    window.onload = function () {
                        setTimeout(appeardiv,2000);
                    }
                    function appeardiv() {
                        document.getElementById('class').style.display= "block";
                    }
                </script>


            </div>


        </div>
    </div>
    </div>



</container>

</body>
</html>