<!DOCTYPE html>
{% set username = username %}
{% set lang = lang %}
<head xmlns:https="http://www.w3.org/1999/xhtml" xmlns:https="http://www.w3.org/1999/xhtml"
      xmlns:https="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <title>Book of the Month API</title>

<body>
<h1>Book of the Month API</h1>
<h4>Twitter Handle:</h4>
<p class="name">{{name}}</p>
<h3>_Reading_Rocks_</h3>
<h4>Description:</h4>
<p class="description">{{description}}</p>
<h3>ReadingRocks is a place for anyone who wants to make reading rock for EVERY reader! We love to #ShareTheBookLove and are Home to #RR_Chat and #ViewFromABook</h3>
<h4>Current Followers:</h4>
<p class="followers_count">{{followers_count}}</p>
<h3>44421</h3>
<p class="response">{{response}}</p>
</body>
