<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sort your Data!</title>
</head>
<body>
<form method="post" action="/randompoem/sort">
    <label for="typeofdata">Choose Data Type:</label>
    <select id="typeofdata" name="typeofdata">
        <option value="int">Integer</option>
        <option value="char">Character</option>
        <option value="str">String</option>
    </select>
    <textarea id="inputdata" name="inputdata" rows="20"></textarea>
    <button type="submit" name="Submit" value="Submit">Submit</button>
</form>
</body>
</html>