<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

{% block title %}
<title>Pascal's Triangle</title>
{% endblock %}

{% block contentone %}
<div>
    <div>
        <h3 style="text-align: center; ">Type the nth row of Pascal's Triangle!</h3>
        <form id="fibForm" action="/findabook/algo" style="text-align: center; " method="POST" >
            <input name="series" id="series" type="number" min="2" max="5" >
            <button>Go!</button>
        </form>
    </div>

    <div>
        <h3 style="text-align: center;">Pascal's Triangle with {{pascal.series}} Rows</h3>
    </div>
</div>
{% endblock %}

{% block contenttwo %}
<div>
    <h3 style="text-align: center;">Pascal's Triangle with {{pascal.series}} Rows</h3>
</div>
{% endblock %}


{% block contentthree %}
<div class="jumbotron bg-success" style="width: 18rem; text-align: center; ">
    <!-- Series -->
    <div class="overflow-auto" style="height: 200px">
        {% for i in range(pascal.series) %}
        <h5>{{pascal.get_lastnumber(i)}}</h5>
        {% endfor %}
    </div>
</div>
{% endblock %}


<style>
    table, td, th {
        border: 1px solid var(--dblue);
    }
    td, th {
        text-align:left;
    }
</style>
</body>
</html>