<!DOCTYPE html>
<html>
{% extends "base.html" %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block contentone %}
    <h1 class="text-light">Welcome to DNBR!</h1>
    <p class="lead text-light">Del Norte Book Rush is a place for Nighthawks to find books, sell books, and all things books.</p>
    <hr class="my-4">
    <p class="text-light">Need something? Check out the navbar on the top to go to your destination.</p>
    <p class="lead">
        <a class="btn btn-light btn-lg text-dark" href="#" role="button">Learn more</a>
</p>
{% endblock %}

{% block contenttwo %}
    <h1 class="text-light">Poems!</h1>
    <p class="lead text-light">Interested in poetry? Wanting some inspirations for poems? You've found the place.</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-light btn-lg text-dark" href="/randompoem" role="button">go to poems!</a>
    </p>
{% endblock %}

{% block contentthree %}
    <div class="card-body">
        <h5 class="card-title text-light">Featured Books</h5>
        <p class="card-text text-light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-success">Go somewhere</a>
    </div>
{% endblock %}
</html>