<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>virtualLibrary</title>
</head>
<body>

<p> hi there welcome to virtualLibrary </p>

<div class="w3-container w3-center w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Want daily book recs in your inbox? </h1>
    <h2 style="text-font:Roboto"> Add your email! </h2>
    <form id="form" action="" method="POST">
        <input type="text" id="email" name="email" placeholder="add your email here">
        <button align="center" type="submit" class="w3-center w3-button w3-win8-cobalt" style="border-radius:10px"> Get recomendations! </button>
    </form>
</div>
</body>
</html>